@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
}

.ticker-heading {
    position: absolute;
    background: #A6C22F;
    display: block;
    left: 0;
    top: 0;
    height: 32px;
    padding: 11px 40px;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-size: .875rem;
}

.ticker-wrap {
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 2.5rem;
    background-color: #F69463;
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker-wrap .ticker:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.ticker-wrap .ticker__item {
    display: inline-block;
    color: #FFF;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 2em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #535967;
}

.mt-5 {
    margin-top: 4rem!important;
}

.call-me-wrapper {
    background-color: #F36823;
    padding: 8px 0;
    padding-left: 25px;
}

.call-me-wrapper a.call-me {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav.navbar.navbar-expand-lg {
    position: static;
    top: -200px;
    transition: 1s;
}

header nav.navbar.navbar-expand-lg.fixed-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    transition: 1s;
    z-index: 99;
    box-shadow: 1px 1px 16px rgb(0 0 0 / 11%);
}

header a.navbar-brand {
    display: flex;
    flex-direction: column;
}

header a.navbar-brand p.iso-text {
    margin: 0;
    color: #414142;
    text-align: left;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.iso-text-1 {
    margin: 0;
    color: #414142;
    text-align: right;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mainNav li {
    padding-left: 20px;
}

#mainNav li a {
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mainNav li a.active,#mainNav li a:hover {
    color: #f69463;
}

#mainNav li a.dropdown-item {
    padding-left: 0;
}

#mainNav li a.dropdown-item.active {
    background-color: #fff0;
}

.get-free-demo {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    width: 145px;
    height: 40px;
    flex-shrink: 0;
    background: #07294D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    cursor: pointer
}

#myModal .modal-dialog {
    width: 350px;
}

.placed-img {
    width: 126px;
    height: 126px;
    border-radius: 100px;
}

.cmp-img {
    height: 74px;
    width: auto;
}

section.main-banner {
    background-color: #F5F7FA;
    height: 80vh;
}

section.main-banner h5.theme-sub-tiltle {
    color: #111;
    font-size: 18px;
    font-weight: 400;
}

span.line {
    display: inline-block;
    width: 29px;
    height: 2px;
    background: #F36823;
    vertical-align: super;
    margin-right: 10px;
}

.section-courses{
    background: url(../img/Group\ 541.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.banner-content{
    padding: 262px 100px;
    color: #FFFFFF;
}

.main-title{
    font-size: 50px;
    font-weight: 600;
    height: 118px;
    width: 529px;
}

.section-padding {
    padding: 5em 0;
}

.theme-sub-tiltle {
    
    font-size: 18px;
    font-weight: 400;
}

h1.section-title,h2.section-title {
    color: #07294D;
    font-size: 1.875rem;
    font-weight: 700;
    width: fit-content;
    padding-left: 15px;
}

p.para {
    color: #FFFFFF;
    font-size: 16px;
    width: 530px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;  
}
.user-icon-clr{
    color: #F2B827;   
}

.section-title-wrapper svg {
    width: 23.059px;
    height: 16px;
}

div#myModal input#btnSubmit {
    background-color: #07294D;
    color: #fff;
    border: 1px solid #07294D;
    padding: 5px 20px;
}

.card.empowering.card-body {
    background-color: #F5F7FA;
    border: 0;
    border-radius: 0;
    padding: 1.5rem!important;
    height: 100%;
}

.card.empowering.card-body h3 {
    color: #07294D;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.card.empowering.card-body p {
    color: #535967;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.card.empowering.card-body figure {
    margin-bottom: 2em;
}

ul.why-choose-cf-list {
    display: flex;
    margin: 0;
}

ul.why-choose-cf-list li {
    width: 25%;
    background-color: #414142;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

ul.why-choose-cf-list li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}



ul.why-choose-cf-list li.o:hover {
    background-image: url(https://codefirstacademy.com/wp-content/themes/codefirst/assets/css/../images/indian-man-bank-branc-serving-customer_O_bg_img.png);
}

ul.why-choose-cf-list li.d:hover {
    background-image: url(https://codefirstacademy.com/wp-content/themes/codefirst/assets/css/../images/indian-man-bank-branc-serving-customer_O_bg_img.png);
}

ul.why-choose-cf-list li.e:hover {
    background-image: url(https://codefirstacademy.com/wp-content/themes/codefirst/assets/css/../images/indian-man-bank-branc-serving-customer_O_bg_img.png);
}

ul.why-choose-cf-list li .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 1;
    background: #fff0;
    z-index: 9;
    transition: 1s;
}

ul.why-choose-cf-list li:hover .overlay {
    background: rgb(243 104 35 / 70%);
    transition: 1s;
}

ul.why-choose-cf-list li:hover .content-wrapper {
    top: 12%;
    transition: 1s;
}

ul.why-choose-cf-list li .content-wrapper {
    text-align: center;
    position: relative;
    top: 25%;
    transition: 1s;
}

ul.why-choose-cf-list li .content-wrapper h2 {
    font-size: 180px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #414142;
    transition: 1s;
    font-family: Arial Black,Gadget,sans-serif;
}

ul.why-choose-cf-list li:hover .content-wrapper h2 {
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #fff;
    transition: 1s;
}

ul.why-choose-cf-list li .content-wrapper h5 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 180px;
    margin: 0 auto 10px;
    transition: 1s;
}

ul.why-choose-cf-list li:hover .content-wrapper h5 {
    font-weight: 700;
    transition: 1s;
}

ul.why-choose-cf-list li .content-wrapper p.para {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 220px;
    opacity: 0;
    margin: 23px auto 0;
    visibility: hidden;
    transition: 1s;
}

ul.why-choose-cf-list li:hover .content-wrapper p.para {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

a.success-stories.bc-btn {
    background-color: #07294d;
    margin-top: 4em;
    margin-left: 15px;
}

section.section-padding.our-services {
    background-color: #F5F7FA;
}

ul.nav.nav-tabs.os-nav-tabs {
    display: flex;
    flex-direction: column;
    border: 0;
}

ul.nav.nav-tabs.os-nav-tabs li {
    padding-bottom: 35px;
}

ul.nav.nav-tabs.os-nav-tabs li a.nav-link {
    background-color: #fff0;
    border: 0;
    color: #535967;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

ul.nav.nav-tabs.os-nav-tabs li a.nav-link.active {
    color: #F36823;
}

.tab-content.os-tab-content .card .card-body {
    background-color: #F5F7FA;
}

.tab-content.os-tab-content .card .card-header img.w-100 {
    height: 430px;
    object-fit: cover;
}

.community {
    background-image: url(https://codefirstacademy.com/wp-content/themes/codefirst/assets/css/../images/cummunity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.community h2.section-title {
    color: #fff;
    font-size: 40px;
}

.community p.para {
    width: 70%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.community a.callback-btn {
    background-color: #07294D;
    margin: 2em auto 0;
    display: flex;
    width: fit-content;
    padding: 8px 20px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

ul.community-list.counter-list {
    display: flex;
    background-color: #07294D;
    width: 80%;
    margin: 0 auto;
    padding: 3em 0;
}

ul.community-list.counter-list li {
    color: #fff;
    text-align: center;
    width: 25%;
}

ul.community-list.counter-list li span.counter {
    color: #F78E0B;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

ul.community-list.counter-list li p {
    margin: 8px 0 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.our-graduates {
    margin-top: 5em;
    position: relative;
    overflow: hidden;
}

.our-graduates-slider figure img {
    width: 100%;
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next,.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
    background-image: none
}

div#swiper1 {
    padding-bottom: 5em;
}

div#js-next1 {
    display: flex;
    justify-content: flex-end;
    right: 48%;
    top: auto;
    bottom: 0;
}

div#js-prev1 {
    display: flex;
    justify-content: flex-start;
    left: 48%;
    top: auto;
    bottom: 0;
}

section.section-padding.testimonial {
    background-color: #414142;
}

.testimonial-gallery-top {
    margin-bottom: 3em;
}

.testimonial-gallery-top p {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.testimonial-gallery-thumbs-wrapper {
    background-color: #fff;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(204 204 204 / 33%);
}

.testimonial-gallery-thumbs .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 15px 0;
    cursor: pointer;
}

.testimonial-gallery-thumbs .swiper-slide figure {
    margin: 0;
    margin-right: 1em;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    border: 2px solid #fff;
}

.testimonial-gallery-thumbs p.job-desc {
    margin: 0;
}

.testimonial-gallery-thumbs .swiper-slide figure img {
    border-radius: 100%;
    width: 100%;
}

.testimonial-gallery-thumbs .swiper-slide-thumb-active {
    background-color: #f26d2c!important;
}

.testimonial-gallery-thumbs .client-info h5 {
    margin: 0;
}

.testimonial-gallery-thumbs .swiper-slide-thumb-active .client-info h5 {
    color: #fff;
}

.testimonial-gallery-thumbs .swiper-slide-thumb-active .client-info p.job-desc {
    color: #fff;
}

.start-rating {
    display: flex;
    align-items: center;
}

.start-rating ul.list-unstyled {
    margin: 0;
    padding-left: 10px;
}

.start-rating ul.list-unstyled li {
    padding-right: 5px;
}

.start-rating ul.list-unstyled li i {
    color: #fff;
    font-size: 14px;
}

.start-rating ul.list-unstyled li i.full {
    color: #F69320;
}

div#js-prev2,div#js-next2 {
    display: none;
}

section.section-padding.our-students {
    background-color: #F5F7FA;
}

section.section-padding.our-students .container {
    position: relative;
}

.our-students-slider .card .card-body {
    position: relative;
    padding-top: 6em;
    text-align: center;
    padding-bottom: 1.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.our-students-slider .card figure {
    width: 150px;
    border: 1px solid #fff;
    margin: 0 auto;
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
}

.our-students-slider .card .card-body h4 {
    color: #07294D;
    font-size: 20px;
    font-weight: 600;
}

.our-students-slider .card .card-body h6 {
    color: #444;
    font-size: 14px;
    font-weight: 500;
}

.our-students-slider .card .card-body p.para {
    color: #4B4B4B;
    font-size: 14px;
    line-height: 20px;
    min-height: 85px;
}

.our-students-slider .card .card-body ul {
    display: flex;
    justify-content: center;
    margin: 25px 0 0;
    flex-wrap: wrap;
}

.our-students-slider .card .card-body ul li {
    color: #F36823;
    font-size: 12px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid rgb(243 104 35 / .2);
    padding: 5px 15px;
    margin: 5px;
}

div#js-prev3 {
    top: 5em;
    left: auto;
    right: 65px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

div#js-next3 {
    top: 5em;
    left: auto;
    right: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.contact-form-section {
    background-image: url(https://codefirstacademy.com/wp-content/themes/codefirst/assets/css/../images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.contact-form-section .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-form-section .container .card {
    width: 45%;
    background-color: #fff0;
    border: 0;
    padding: 31px;
}

.contact-form-section .container .card h3 {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
}

.contact-form-section .container .card .card-header {
    background-color: #fff0;
    border-radius: 0;
}

.contact-form-section .container .card .card-body {
    background-color: rgb(255 255 255 / 72%);
    padding: 35px;
}

.contact-form-section .container .card .card-body form lable {
    color: #001B36;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-form-section .container .card .card-body input.wpcf7-form-control.wpcf7-submit {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    background-color: #07294D;
    border: 0;
    width: 100px;
    float: right;
}

.contact-form-section .container .card .card-body input.form-control {
    font-size: 14px;
}

section.CTA {
    background-color: #07294D;
    color: #fff;
    padding: 3em 0;
}

section.CTA p.para {
    color: #fff;
    width: 90%;
}

section.CTA a.download-brochure {
    background-color: #F36823;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 20px
}
.stories {
    background-color:#414142;
    height: 500px;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.line {
   border-bottom: 2px solid #F36823;
   width: 30px;

}
.recent{
    font-weight: 700;
    color: #07294D;
}
.sucesses-stories-start {
    padding-top: 100px;
}
.sucesses-stories {
    padding-top: 70px;
}
.tringles {
    left: 30px;
    position: absolute;
    bottom: 169px;
}
.ellipse-imge {
    border: 2px solid #F69320;
    position: absolute;
    bottom: 245px;
}
.tringles-1 {
    left: 29px;
    position: absolute;
    bottom: 178px;
}
.raju-datta-imge {
    border: 2px solid #F69320;
    position: absolute;
    bottom: 260px;
}
.capgemini {
    padding-left: 335px;
}
.per-info {
    position: relative;
    bottom: 65px;
}
.all-infor {
    border: 2px solid gray;
    padding: 10px;
    background-color: #F5F7FA;
    position: relative;
}
.mahindra {
    padding-left: 385px;
}
.yatin-rajesh-imge {
    border: 2px solid #F69320;
    position: absolute;
    bottom: 307px;
}
.tringles-2 {
    left: 28px;
    position: absolute;
    bottom: 199px;
}
.identity {
    color: #919394;
    font-weight: 400;
    font-size: 12px;
}
.information {
    color: #535967;
    font-size: 14px;
    font-weight: 400;
}
.impact {
    background-color: #07294D;
}
.card-1 {
   position: relative;
    width: 165px; 
    background-color: #fff;
    margin: 10px;
}
.group {
    position: relative;
    left: -12px;
}
footer {
    background-color: #414142;
    color: #fff;
}

footer .content-wrapper address {
    padding-left: 25px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: .6;
    line-height: 25px;
}

footer .content-wrapper {
    margin-bottom: 2em;
}

footer .content-wrapper h5 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

footer .content-wrapper h5 i {
    color: #f26d2c;
    margin-right: 5px;
}

footer .content-wrapper p.email a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

footer .content-wrapper p.email i {
    margin-right: 5px;
}

ul.course-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

ul.course-list li {
    width: 50%
}

ul.course-list li a {
    opacity: .6;
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
}

ul.social-nav li a {
    color: #fff;
    padding-right: 15px;
}

section.main-banner img.g-vector {
    width: 84%;
}

footer .call-wrapper a {
    color: #fff;
    font-size: 16px;
    line-height: 27px;
}

footer .call-wrapper i {
    color: #F69320;
}

footer .branch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .branch ul.branch-list {
    margin: 0;
}

footer .branch ul.branch-list i {
    margin-right: 11px;
}
footer .branch ul.branch-list li {
    position: relative;
    padding-left: 20px;
}

footer .branch ul.branch-list li:after {
    content: "|";
    position: absolute;
    right: -12px;
}

footer .branch ul.branch-list li:last-child:after {
    opacity: 0;
}

.footer-text p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    opacity: .5;
}

ul.footer-nav {
    display: flex;
}

ul.footer-nav li {
    padding-left: 20px;
    position: relative;
}

ul.footer-nav li:after {
    content: "|";
    position: absolute;
    right: -12px;
    color: #fff;
    opacity: .5;
}

ul.footer-nav li:last-child:after {
    opacity: 0;
}

ul.footer-nav li a {
    color: #fff;
    opacity: .5;
    font-size: 14px;
}

@media(max-width: 1600px) {
    section.main-banner img.g-vector {
        width:77%;
    }
}

@media(max-width: 1199px) {
    #mainNav li {
        padding-left:5px;
    }

    #mainNav li a {
        font-size: 14px;
    }

    .get-free-demo {
        font-size: 14px ;
    }

    section.main-banner h2.main-title.py-2 {
        font-size: 36px;
    }

    .our-students-slider .card .card-body ul li {
        font-size: 10px;
        padding: 5px 10px;
    }

    .our-students-slider .card .card-body p.para {
        min-height: 100px;
    }

    ul.why-choose-cf-list li .content-wrapper h2 {
        font-size: 150px;
    }
}

@media(max-width: 992px) {
    header {
        position:relative;
    }

    .get-free-demo {
        font-size: 14px;
        position: absolute;
        top: 60px;
        right: 8em;
    }

    header nav.navbar.navbar-expand-lg.fixed-header .get-free-demo {
        top: 20px;
    }

    ul.why-choose-cf-list li .content-wrapper p.para {
        font-size: 14px;
        width: 100%;
        line-height: 18px;
    }

    section.main-banner {
        height: auto;
        padding: 3em 0 0;
    }

    .img-wrapper.position-relative.text-center {
        margin-top: 3em;
    }

    ul.community-list.counter-list {
        width: 100%;
    }

    div#js-prev1 {
        left: 47%;
    }

    div#js-next1 {
        right: 47%;
    }

    .footer-text {
        text-align: center;
    }

    ul.footer-nav {
        justify-content: center!important;
    }

    ul.why-choose-cf-list li .content-wrapper h2 {
        font-size: 100px;
    }
}

@media(max-width: 767px) {
    .contact-form-section .container .card {
        width:100%;
    }

    .contact-form-section {
        background-position: 22% 0;
    }

    .section-title-wrapper.d-flex.align-items-baseline.mb-5 {
        display: flex;
        justify-content: center;
    }

    h1.section-title,h2.section-title {
        font-size: 1.6rem;
    }

    .community h2.section-title {
        font-size: 28px;
    }

    .section-title-wrapper svg {
        margin-right: 0;
    }

    ul.why-choose-cf-list {
        flex-direction: column;
    }

    ul.why-choose-cf-list li {
        width: 100%;
        height: 240px;
    }

    ul.why-choose-cf-list li .content-wrapper {
        display: flex;
        align-items: center;
        left: 25%;
    }

    ul.why-choose-cf-list li .content-wrapper>div {
        width: 45%;
    }

    ul.why-choose-cf-list li .content-wrapper h5 {
        margin-bottom: 0;
    }

    ul.why-choose-cf-list li .content-wrapper p.para {
        font-size: 12px;
        padding: 0 25px;
        margin: 0;
    }

    ul.why-choose-cf-list li .content-wrapper,ul.why-choose-cf-list li:hover .content-wrapper {
        top: 12%;
        transition: 1s;
    }

    ul.why-choose-cf-list li:hover .content-wrapper {
        left: 0;
    }

    ul.nav.nav-tabs.os-nav-tabs {
        margin-bottom: 15px;
    }

    ul.nav.nav-tabs.os-nav-tabs li a.nav-link {
        font-size: 16px;
        text-align: center;
    }

    div#js-prev1 {
        left: 44%;
    }

    div#js-prev1 i,div#js-next1 i {
        font-size: 20px;
    }

    div#js-next1 {
        right: 44%;
    }

    .testimonial-gallery-top p {
        padding: 0 28px;
        font-size: 16px;
        margin-top: 20px;
        line-height: 22px;
    }

    .start-rating.d-flex.mt-3 {
        padding-left: 20px;
    }

    .community {
        height: auto;
    }

    .community p.para {
        width: 100%;
    }

    ul.community-list.counter-list {
        flex-direction: column;
    }

    ul.community-list.counter-list li {
        width: 100%;
        margin-bottom: 4em;
    }

    ul.community-list.counter-list li:last-child {
        margin-bottom: 0;
    }

    section.section-padding.why-choose-cf {
        overflow: hidden;
    }

    h1.section-title {
        text-align: left;
        margin-bottom: 20px;
    }

    ul.why-choose-cf-list {
        margin-top: 2em !IMPORTANT;
    }

    .section-padding {
        padding: 2em 0;
    }

    p.para.ps-4 {
        margin-bottom: 0;
    }

    ul.course-list li {
        width: 100%;
    }

    .branch.d-flex {
        display: flex;
        justify-content: center;
        margin-top: 28px;
    }

    ul.footer-nav {
        display: flex;
        flex-direction: column;
    }

    ul.footer-nav li:after {
        opacity: 0;
    }

    .slider-card {
        width: 90px;
        height: 100px;
    }

    .slider-card.s-card-1 {
        left: -5px;
        top: 42px;
    }

    .slider-card.s-card-2 {
        right: 9%;
        top: 10%;
    }

    .slider-card h2.slider-text-1 {
        font-size: 18px;
    }

    .slider-card p.slider-text-2 {
        font-size: 13px;
        line-height: 16px;
    }

    section.main-banner img.g-vector {
        width: 350px;
        margin-top: 5em;
        margin-left: 2em;
    }

    #vector {
        width: 200px;
        bottom: -35px;
    }

    .call-me-wrapper {
        text-align: center;
        padding: 10px 0;
    }

    section.main-banner h2.main-title.py-2 {
        font-size: 28px;
    }

    .img-wrapper.position-relative.text-center {
        margin-top: 0;
    }

    .card.empowering.card-body {
        margin-bottom: 20px;
    }

    div#js_prev2,div#js_next2 {
        padding: 15px 0;
    }

    .swiper-container.our-students-slider {
        margin-top: 0;
        margin-bottom: 4em;
    }

    div#js-prev3 {
        top: auto;
        left: 34%;
        border: 1px solid #000;
        bottom: -60px;
    }

    div#js-next3 {
        top: auto;
        border: 1px solid #000;
        right: 34%;
        bottom: -60px;
    }

    a.get-free-demo {
        margin: 0!important;
        position: fixed;
        bottom: 0;
        z-index: 99;
        width: 100%;
        left: 0;
        right: 0;
        top: auto !IMPORTANT;
    }

    footer.section-padding.pb-3 {
        padding-bottom: 3em!important;
}
}