.girl-image {
  background-image: url('assets/css/images/Girl-Image .png');
  background-size: cover;
  width: 100%;
  height: 80vh; 
  position: relative;
}
.Container{
 position: absolute;
 top: 50%;
 left: 50%;
 text-align: center;
 color:white;
 line-height: 10px;
 transform: translate(-290px,-220px);
}
.girl-name{
  font-size: 70px;
  margin: 1px 0px;
}
footer{
  text-align: center;
}
button{
  font-size: 1rem;
  padding: 20px 40px;
  border: 1px solid whitesmoke;
  color: white;
  background: transparent;
  transform: translate(0,-90px);
}
button:hover{
  background-color: grey;
  color: black;
}
/* ---------------------------------------------------second-page---------------------------------------------------- */
.second-page{
  background-color: rgb(1, 1, 30);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 100px;
}
.smiley-girl img{
  width: 380px;
  height: 440px;
  /* border-top-left-radius: 180px;*/
  border-top-right-radius: 180px; 
  margin: 280px 140px 170px -60px;

}
.star img{
  width: 260px;
  height: 250px;
  margin-top: 250px;
  transform: translate(93px,-10px);

}
.text-massage{
  margin-top: 190px;
}
.text-massage h1{
font-size: 90px;
}
.text-massage p{
  font-size: 20px;
}

/* --------------------------------------------third-page------------------------------------------------------------- */
.third-page{
  background-color:rgb(239, 239, 236);
  color: #333;
  background-size: cover;
}
.symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.third-page h1 {
  display: inline-block;
  justify-content: center;
  /* align-content: center; */
  font-size: 80px;
  margin-top: 50px;
  padding: 70px;
}
.services-container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: -32px;
  padding: 0;
}
.service1 img{
  width: 300px;
  height: 200px;
  border-radius: 160PX;
}
.service2 img{
  width: 300px;
  height: 200px;
  border-radius: 160PX;
  margin-right: 20%;
}
.service3 img{
  width: 300px;
  height: 200px;
  border-radius: 250PX;
}
.services-container p{
  font-size: 20px;
}
.btn{
  margin: 100px 0 10px 0;
  border: 1px solid black;
  color: black;
  width: 280px;
  height: 10px;
  padding-bottom: 30px;
}
.service2{
  margin: 0 165px -20px 164px;
}
/* --------------------------------------------------fourth-page----------------------------------------------------- */
.fourth-page{
  background-color: rgb(1, 1, 30);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
}
.feedback h1{
  font-size: 90px;
  line-height: 1em;
}
.feedback img{
  width: 460px;
  height: 185px;
}
.organisations h2{
  font-size: 40px;
  text-decoration: underline;
}
.organisations p{
  font-size: 22px;
}
.feedback{
  margin: 170px 180px 40px 0px;
}
.organisations{
  margin: 100px 80px;
  line-height: 1.38em;
}
.org-2{
  margin: 100px 10px;
}
/* ------------------------------------------------------fifth-page--------------------------------------------------- */
.fifth-page{
  background-color:rgb(239, 239, 236);
  color: #333;
  background-size: cover;
  padding: 10px 100px;
  position: relative;
  text-align: center;
}
.contact-info{
  display: flex;
  justify-content: center;
  margin: 80px 4px 50px 4px;
}
.work img{

  width: 573px;
  height: 250px;
  /* margin: 0px 0px 0px 1px; */
  /* position: relative;
  top: 10px;
  left: 380px;*/
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  display: block;
  opacity: 1.0;
  transform: translate(386.169183px, 24.401547px) rotate(0deg);
    transform-origin: 624.50607239px 416.07717073px;
}
.work h1{
  font-size: 50px;;
  /* font-family: YACgEVY5j_w-0; */
  line-height: 0.038em;
  text-align: center;
  letter-spacing: -0.04em;
  position: relative;
  padding: 25px
}
.contact-info{
width: 70vw;
height: auto;
margin: 50px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
font-size: 20px;
padding: 60px;
align-items: center;
}
.black-section {
  background-color: #000000;
  color: #fff;
  margin: -100px;
  padding: 23px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.contact-info h1{
  text-decoration: underline;
}

/* .bg-black-section {
  background-color: #000000;
  padding: 10px;
}*/

.on-footer-section {
  width: 1118px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.on-footer-section a:last-child {
  float: right;
  overflow: hidden;
}

.on-footer-section a {
  font-family: "Roboto", sans-serif;
  float: left;
  color: white;
  padding: 10px;
  border: none;
  text-decoration-line: none;

}

.on-footer-section a.active {
  color: #393939;
  background-color: #fff;
  border-radius: 5px;
  padding: 6px 29px 6px;
}

.on-footer-section a:hover {
  border-radius: 100px;
  display: block;
  background-color: #191919;
  
}  


/* ----------------------------------------------------End------------------------------------------------------------ */